<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="mt-5 bg-light">
        <div class="ms-5">
            <div class="" style="padding-left:30px;">
                <a href="https://www.facebook.com" target="_blank"><img th:src="@{/img/facebook.png}"></a>
                <a href="https://www.youtube.com" target="_blank"><img th:src="@{/img/youtube.png}" class="mx-3"></a>
                <a href="https://www.instagram.com" target="_blank"><img th:src="@{/img/instagram.png}"></a>
            </div>
            <hr>
            <div class="row footer-text">
                <div class="col-sm-2">
                    <ul class="a-l" style="list-style: none;">
                        <li>
                            <h5>GIỚI THIỆU</h5>
                        </li>
                        <li><a href="#">Game bản quyền là gì</a></li>
                        <li><a href="#">Giới thiệu King Shop</a></li>
                        <li><a href="#">Điều khoản dịch vụ</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <ul class="a-l" style="list-style: none;">
                        <li>
                            <h5>TÀI KHOẢN</h5>
                        </li>
                        <li><a href="#">Đăng nhập</a></li>
                        <li><a href="#">Đăng ký</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="a-l" style="list-style: none;">
                        <li>
                            <h5>LIÊN HỆ</h5>
                        </li>
                        <li>Hot line tự động <span style="color:red">1234 567 890</span></li>
                        <li><a href="#">Liên hệ Hỗ trợ</a></li>
                        <li><a href="#">Chat với CSKH</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>

